@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #dbc8c8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #8c8888;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.buttonChildOrderStyle {
  cursor: pointer;
}

/* Base media query for shared styles */
@media screen and (min-width: 200px) and (max-width: 470px) {
  /* Order changes for children 6-10 */
  .buttonChildOrderStyle:nth-child(6) {
    order: 10;
    margin-top: 10px;
  }
  .buttonChildOrderStyle:nth-child(7) {
    order: 9;
    margin-top: 10px;
  }
  .buttonChildOrderStyle:nth-child(8) {
    order: 6;
    margin-top: 10px;
  }
  .buttonChildOrderStyle:nth-child(9) {
    order: 7;
    margin-top: 10px;
  }
  .buttonChildOrderStyle:nth-child(10) {
    order: 8;
    margin-top: 10px;
  }

  /* Special margins */
  .buttonChildOrderStyle:nth-child(4),
  .buttonChildOrderStyle:nth-child(7) {
    margin-left: 15px;
  }
  .buttonChildOrderStyle:nth-child(5),
  .buttonChildOrderStyle:nth-child(6),
  .buttonChildOrderStyle:nth-child(4),
  .buttonChildOrderStyle:nth-child(7) {
    display: flex;
    justify-content: end;
  }
}

/* Width adjustments for different breakpoints */
@media screen and (min-width: 200px) and (max-width: 375px) {
  .buttonChildOrderStyle {
    min-width: 50px;
  }
}

@media screen and (min-width: 376px) and (max-width: 423px) {
  .buttonChildOrderStyle {
    min-width: 60px;
  }
}

@media screen and (min-width: 424px) and (max-width: 470px) {
  .buttonChildOrderStyle {
    min-width: 65px;
  }
}
@media screen and (min-width: 280px) and (max-width: 314px) {
  .buttonChildOrderStyle {
    min-width: 40px;
  }
}
@media screen and (min-width: 314px) and (max-width: 325px) {
  .buttonChildOrderStyle {
    min-width: 45px;
  }
}
#__next {
  display: flex;
  justify-content: center;
  background-color: rgb(156 163 175 / var(--tw-bg-opacity, 1));
}
ul {
  list-style-type: disc; /* Стандартный маркер — кружок */
  margin: 0;
}

ul ul {
  list-style-type: circle; /* Второй уровень — круг */
}

ul ul ul {
  list-style-type: square; /* Третий уровень — квадрат */
}

li {
  margin: 0;
  padding: 0;
}
ol {
  list-style-type: decimal; /* Нумерация по умолчанию */
  margin: 0;
}

ol ol {
  list-style-type: lower-alpha; /* Второй уровень — буквы */
}

ol ol ol {
  list-style-type: lower-roman; /* Третий уровень — римские цифры */
}

li {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 1.4em;
  font-weight: bold;
  margin: 0.37em 0;
  line-height: 1.2;
}

h2 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0.33em 0;
  line-height: 1.2;
}
