.buttonChildOrderStyle {
  cursor: pointer;
}

/* Base media query for shared styles */
@media screen and (min-width: 200px) and (max-width: 470px) {
  /* Order changes for children 6-10 */
  .buttonChildOrderStyle:nth-child(6) {
    order: 10;
    margin-top: 10px;
  }
  .buttonChildOrderStyle:nth-child(7) {
    order: 9;
    margin-top: 10px;
  }
  .buttonChildOrderStyle:nth-child(8) {
    order: 6;
    margin-top: 10px;
  }
  .buttonChildOrderStyle:nth-child(9) {
    order: 7;
    margin-top: 10px;
  }
  .buttonChildOrderStyle:nth-child(10) {
    order: 8;
    margin-top: 10px;
  }

  /* Special margins */
  .buttonChildOrderStyle:nth-child(4),
  .buttonChildOrderStyle:nth-child(7) {
    margin-left: 15px;
  }
  .buttonChildOrderStyle:nth-child(5),
  .buttonChildOrderStyle:nth-child(6),
  .buttonChildOrderStyle:nth-child(4),
  .buttonChildOrderStyle:nth-child(7) {
    display: flex;
    justify-content: end;
  }
}

/* Width adjustments for different breakpoints */
@media screen and (min-width: 200px) and (max-width: 375px) {
  .buttonChildOrderStyle {
    min-width: 50px;
  }
}

@media screen and (min-width: 376px) and (max-width: 423px) {
  .buttonChildOrderStyle {
    min-width: 60px;
  }
}

@media screen and (min-width: 424px) and (max-width: 470px) {
  .buttonChildOrderStyle {
    min-width: 65px;
  }
}
@media screen and (min-width: 280px) and (max-width: 314px) {
  .buttonChildOrderStyle {
    min-width: 40px;
  }
}
@media screen and (min-width: 314px) and (max-width: 325px) {
  .buttonChildOrderStyle {
    min-width: 45px;
  }
}
